body {
  background-color: lightgray;
  color: black;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #111311;
  color: white;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 40%;
}

.center {
  margin-left: 4in;
  margin-right: auto;
  width: 30%;
}