<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/master.css">
    <title>Image Move</title>
</head>

<body>
    <div class="split left">
        <h3 style="text-align: center;">Move Image to Designated Folder</h3>
            <div class="centered">
            <h4 style="text-align: center;">{{File}}</h4>
            <img src="../static/sample_img/{{image}}" class="centered img">
            </div>
    </div>
    <div class="split right">
        <h3 style="text-align: center;">{{pic_rem}}</h3>
        <div class="centered">
            <form action="/img/value" method="GET">
                <label for="label">Label</label><br>
                <input type="text" id="label" name="label"><br><br>
                <label for="name">Image Name:</label><br>
                <input type="text" id="name" name="name" value="{{image}}"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</body>
</html>