<html>
<head>
    <title>Image Move</title>
    <script src='../static/client.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1 style="text-align: center;">Move Image to Designated Folder</h1>
    <div>
        <h4 style="text-align: center;">{{File}}</h4>
        <img src="../static/{{filename}}" height="300" width="600" class="center">
    </div>
    </div>
    <div class="horizontal-center">
        <form enctype=multipart/form-data action="/0" method="POST">
            <input type="submit" value="0">
        <form enctype=multipart/form-data action="/1" method="POST">
            <input type="submit" value="1">
        <form enctype=multipart/form-data action="/2" method="POST">
            <input type="submit" value="2">
        <form enctype=multipart/form-data action="/3" method="POST">
            <input type="submit" value="3">
        <form enctype=multipart/form-data action="/4" method="POST">
            <input type="submit" value="4">
        <form enctype=multipart/form-data action="/5" method="POST">
            <input type="submit" value="5">
        <form enctype=multipart/form-data action="/6" method="POST">
            <input type="submit" value="6">
        <form enctype=multipart/form-data action="/7" method="POST">
            <input type="submit" value="7">
        <form enctype=multipart/form-data action="/8" method="POST">
            <input type="submit" value="8">
    </div>
</body>
</html>